#map svg circle, .legend > div {
  --color-departures: #ff5e8e; /* red-ish */
  --color-arrivals: #9bb3ff;   /* blue-ish */
  --color: color-mix(
    in srgb,
    var(--color-departures) calc(var(--departure-ratio) * 100%),
    var(--color-arrivals)
  );
}

html,
body {
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: calc(100% - 140px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
  position: relative;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
  pointer-events: auto;
  fill: var(--color);
}

.legend {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-block: 1rem;
}

.legend::before {
  content: "Legend:";
  font-weight: bold;
  margin-right: 0.5rem;
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.9rem;
}

.legend > div::before {
  content: "";
  width: 18px;
  height: 18px;
  background: var(--color);
  border-radius: 4px;
}

#time-filter {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
}

#selected-time, #any-time {
  display: block;
}

#any-time {
  font-style: italic;
  color: #666;
}
